# Cohere API Key (Replace with your production key)
COHERE_API_KEY=ZQIzsRjenHBQyMcCKjYXYd1S7vjugQQfIMwqa1R3

# Supabase Project URL (Must be prefixed with NEXT_PUBLIC_)
NEXT_PUBLIC_SUPABASE_URL=https://llipmezxhokqkzjhcivu.supabase.co
USE_MOCK_DATA=false
# Supabase Anon Key (Must be prefixed with NEXT_PUBLIC_)
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxsaXBtZXp4aG9rcWt6amhjaXZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ5MzU3MTAsImV4cCI6MjA2MDUxMTcxMH0.I234bnhYPJ1bVd4XarfLdaQyYC7Gv3_YD2JLP9ucc94 
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxsaXBtZXp4aG9rcWt6amhjaXZ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NDkzNTcxMCwiZXhwIjoyMDYwNTExNzEwfQ.MdH91twKhcG44zjdvnssGp7ZvZ2msJfPchZcP_xxgfY

NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiY29oZXJlam9obm55IiwiYSI6ImNtOXN4Yjd5cTA1N2gybG9jMnEzemlqejkifQ.zGMBZD97MdRpOVyxiEfD1w
